<p id="notice"><%= notice %></p>

<p>
  <strong>nomeOp:</strong>
  <%= @listum.nomeOp %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @listum.telefone %>
</p>

<%= link_to 'Edit', edit_listum_path(@listum) %> |
<%= link_to 'Back', lista_path %>
